p {font-family: 黑体}
a {font-family: 黑体}
span {font-family: 黑体}
li {font-family: 黑体}

*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family: 黑体; margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,dd1,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
.place_info{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place_info span{line-height:40px; font-weight:300;float:left; margin-left:12px;font-size: 15px;}